html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
    /*元素内容与内边距底下的颜色*/
    background-color: #00539F;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    /*给文本添加阴影，第一个值为阴影右移的像素值，第二个为阴影下移的像素值，第三
    个为阴影的模糊半径（越大阴影越模糊），第四个值为阴影的基色*/
    text-shadow: 3px 3px 1px black;
  }
  
  p, li {
    font-size: 16px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    /*强制页面永远保持 600 像素宽*/
    width: 600px;
    /*为 margin 或 padding 等属性设置两个值时，第一个值代表元素的上方和下方（在这
    个例子中设置为 0），而第二个值代表左边和右边（在这里，auto 是一个特殊的值，意思
    是水平方向上左右对称）。你也可以使用一个，三个或四个值*/
    margin: 0 auto;
    background-color: #FF9500;
    /*内边距设置，分别是上、右、下、左四个方向*/
    padding: 0 20px 20px 20px;
    /*设置 5 像素的黑色实线边框*/
    border: 5px solid black;
  }

  img {
    /*给予元素块级行为，而<body>为块级元素，只有块级元素可调整边距*/
    display: block;
    margin: 0 auto;
    /*限制图片大小*/
    width: 400px;
  }